## Dimond price prediction using regression

In [7]:
import seaborn as sns

diamonds = sns.load_dataset("diamonds")
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [8]:
x = diamonds.drop(["price"], axis = 1)
y = diamonds["price"]
cut_class_dict = {"Fair": 1, "Good": 2, "Very Good": 3, "Premium": 4, "Ideal": 5}
clarity_dict = {"I3": 1, "I2": 2, "I1": 3, "SI2": 4, "SI1": 5, "VS2": 6, "VS1": 7, "VVS2": 8, "VVS1": 9, "IF": 10, "FL": 11}
color_dict = {"J": 1,"I": 2,"H": 3,"G": 4,"F": 5,"E": 6,"D": 7}
x["cut"] = x["cut"].map(cut_class_dict)
x["clarity"] = x["clarity"].map(clarity_dict)
x["color"] = x["color"].map(color_dict)
y.head()
x.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   0.23    5      6        4   61.5   55.0  3.95  3.98  2.43
1   0.21    4      6        5   59.8   61.0  3.89  3.84  2.31
2   0.23    2      6        7   56.9   65.0  4.05  4.07  2.31
3   0.29    4      2        6   62.4   58.0  4.20  4.23  2.63
4   0.31    2      1        4   63.3   58.0  4.34  4.35  2.75

## 2. The second step is filtering the numerical data and changing the categorical data to numerical data

In [78]:
# numerical_data = x.drop(["cut", "clarity" , "color" ], axis=1)
# numerical_data.head()

## 2.2 filtering out the categorical columns in the dataset

In [79]:
# categorical_data = x.filter(["cut" , "clarity", "color" ], axis=1)
# categorical_data.head()

## 2.3 changing the categorical columns into numeric

we could use the one hot encoding [using the pandas library `get_dummies`]

In [80]:
# import pandas as pd
# cat_to_numerical = pd.get_dummies(categorical_data, drop_first=True)
# cat_to_numerical.head()

## 2.4 now we can horizontaly merge the filtered `numerical_data` dataset with the `cat_to_numerical`

In [81]:
# x = pd.concat([numerical_data, cat_to_numerical], axis=1)

# x.head()
# y.head()

## 3. the next step is to divide the dataset into train and test cases

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.20, random_state=0)
sc = StandardScaler()

# scaling the training set

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

the simplest algorithm to use the one that uses regression I will use KNN algortihm 
for today

In [11]:
from sklearn.linear_model import SGDRegressor

# df = sklearn.utils.shuffle(df) # always shuffle your data to avoid any biases that may emerge b/c of some order.
clf = SGDRegressor(max_iter=1000)
clf = clf.fit(x_train, y_train)
y_pred =  clf.predict(x_test)
from sklearn import metrics

print ("Mean Absolute Error:" , metrics.mean_absolute_error(y_test, y_pred))
print ("Mean Squared Error:" , metrics.mean_squared_error(y_test, y_pred))
print ("Root Mean Squared Error:" , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 806.0611486812165
Mean Squared Error: 1438090.45698628

NameError: name 'np' is not defined

after our model is fit we will test it with the test cases that we provided
using the predict method

In [63]:
y_pred = regressor.predict(x_test)
y_pred

array([4537., 7513., 5098., ..., 4244., 9691., 2146.])

### to test the acuracy of our model

In [64]:
import numpy as np
from sklearn import metrics
print ("Mean Absolute Error:" , metrics.mean_absolute_error(y_test, y_pred))
print ("Mean Squared Error:" , metrics.mean_squared_error(y_test, y_pred))
print ("Root Mean Squared Error:" , np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 381.97409158324064
Mean Squared Error: 755879.1406887282
Root Mean Squared Error: 869.413101286568